<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Taller Basico de Vue.js</title>
  <link rel="stylesheet" href="./styles.css">
</head>
<body>
  <div id="app">

    <h1>{{ carrrera.título }}</h1>
    <span v-on:click="toogleMostrarMaterias">Mostrar Materias
        {{ mostrarMaterias ? '🐵' : '🙈' }}
    </span>

    <ul id="lasMaterias" v-show=mostrarMaterias>
        <li v-for="materia in carrrera.materias">
          <div v-if="materia.dificultad > 3" v-bind:style="{ color: hardColor }">{{ materia.dia }} - {{ materia.nombre }}</div>
          <div v-else v-bind:style="{ color: easyColor }">{{ materia.dia }} - {{ materia.nombre }}</div>
        </li>
    </ul>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="app.js"></script>
</body>
</html>